
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="/javascripts/js.cookie.js"></script>
      <script src="/javascripts/bartinder.js"></script>

  </body>
</html>