<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='/stylesheets/style.css'/>
   </head>
   <body>
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <div class="row">
               <span class="col-xs-1">
               <h1 class="col-xs-10">
               <span class="col-xs-1">
            </div>
         </div>
      </nav>
