<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel='stylesheet' href='stylesheets/style.css'/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='stylesheets/style.css'/>
      <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
   </head>
   <body>
      
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="row">
               <span class="col-xs-3"></span>
               <h1 class="nav_header col-xs-6">BarTinder</h1>
               <div class="navbox col-xs-3">
                  <a class="navlink" href="/register">Register</a>
                  <br>
                  <a class="navlink" href="/login">Login</a>
               </div>
            </div>
         </div>
      </nav>
