    <% include ./partials/header %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 id= "clicker_name"> <%= name %> </h1>


<form class="clicker" name="clicker" action="/tracked" method="POST">
    <div>
     <!--    <label for="name">In</label>
        <input type="text" name="enter" id="in-clicker" value="+">
    </div>
    <div>
        <label for="name">Out</label>
        <input type="text" name="exit" id="out-clicker" value="-">
    </div> -->

    <textarea id="counter1" name="counter1" rows="1" cols="5" class="counter1">0</textarea><br>
<input type="button" value="+" id="add" onclick="increase();" />
<input type="button" value="-" id="sub" onclick="reduce();" />
</div>

        <input type="hidden" name="access_token" value="cookie_value">
        <input type="hidden" name="venue_id" value="<%= venue_id %>">

  <div>
  	<textarea name="comment" id="comment" cols="25" rows="3"></textarea>
  </div>
    <input type="submit" value="Submit" id="submit">

  

</form>

<script>

   var new_value = 0;
   var current_value = 0;

   function increase()
   {
      current_value = document.getElementById("counter1").value;
      new_value = parseInt(current_value) + 1;
      document.getElementById("counter1").value = new_value;
   }
   function reduce()
   {
      current_value = document.getElementById("counter1").value;
      new_value = parseInt(current_value) - 1;
      if (new_value < 0){
      	new_value = 0;
      }

      document.getElementById("counter1").value = new_value;
   }
</script>



     <% include ./partials/footer %>