
		<% include ./partials/header %>

			<!-- Possible modal for the bar information -->
			<h2 class="venue_name"><%=venue.name%></h2>
			<div class="view_counter container-fluid">
				<!-- Had to put these styles inline because the url squid tag would not pull in through the css -->
				<style>
					.view_counter	{
    					/*background-image: url(<%=venue.logo_url%>);*/
    					/*background-image: url("../images/firehouse.png");*/
    					/*opacity: .6;*/
				}
				</style>
			</div>
			<div class="comment_box container-fluid">
				<p><%= venue.comment %></p>
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="footbox">
               <form name="bar_button" action="/home" method="GET">
			    		<input class="newbar-btn" type="submit" name="submit" value="Next Bar">
					</form>
            </div>
         </nav>

		<% include ./partials/footer %>
