
		<% include ./partials/header %>

			<!-- Possible modal for the bar information -->
			<h2 class="venue_name"><%=venue.name%></h2>
			<div class="view_counter container-fluid">
				<style>
					.view_counter	{
    					background-image: url(<%=venue.logo_url%>);
					}
				</style>
			</div>
			<div class="comment_box container-fluid">
			</div>
			<nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="footbox">
               <form name="bar_button" action="/home" method="GET">
			    		<input class="newbar-btn" type="submit" name="submit" value="Next Bar">
					</form>
            </div>
         </nav>

		<% include ./partials/footer %>
