
		<% include ./partials/header %>


<!--     about page details here
 -->
<div class="index">
  <br>
  <br>
  <br>
  <br>
 <h2>BarTinder</h2>
  <h3>keep track of capacity and find poppin’ places</h3>
    <div>
      <img src="/images/BarTinderfinal.png" style="width:204px;height:128px;" align="middle">
    </div>
    <p>BarTinder is a mobile web application for venue staff to track capacity and for patrons to peep the current vibe of a venue.</p>

<h3>Why BarTinder</h3>
<p>BarTinder brings technology &amp; people to the entrance of your establishment.
We designed BarTinder to help doormen or bouncers digitally keep track of the number of customers entering &amp; exiting your venue. The numbers recorded can be viewed by venue staff, providing a clear representation of the current state of the bar, based on the capacity. Notice the evening is a bit slow? Verified venue staff can post comments &amp; drink specials to draw in the crowds. Leave your mechanical clicker on the curb &amp; get BarTinder, the new mobile-friendly tally counter!</p>

<h3>Hipsters love BarTinder</h3>
<p>Whether you are looking for the most happening spot or a low-key night out, BarTinder will help you find the right match. Opening the app will randomly match you with a popular venue in Austin. The capacity is updated in real time &amp; drink specials are displayed. Swipe right to view to the next random venue. Tap the venue name to view the location &amp; hours. So party on, Wayne! </p>

		  <nav class="navbar navbar-default navbar-fixed-bottom">
			 <div class="footbox">
			 </div>
		  </nav>
</div>

		<% include ./partials/footer %>


