<% include ./partials/header %>

<section class="row">
    <div class="col-md-3 col-md-offset-2 col-sm-5 col-sm-offset-1">
    	<h3><%= venue_response %><h3>
      <h2>Add a Venue!</h2>
    </div>
    <div class="col-md-4 col-sm-4 venue_stats">
      <form class="new_venue_form" name="new_venue_form" action="/new_venue" method="POST">
      	<br><br><br>
        <input type="text" name="name" placeholder="Venue Name"><br><br>
        <input type="text" name="location" placeholder="Venue Location"><br><br>
        <input type="text" name="hours" placeholder="Hours of Operation"><br><br>
        <input type="text" name="logo_url" placeholder="Logo Url"><br><br>
        <input type="text" name="website_url" placeholder="Website Url"><br><br>
        <input type="number" name="capacity" placeholder="Capacity"><br><br>
        <input style="display: none" type="text" name="comment" value="Come on in!" ><br><br>
        <input style="display: none" type="number" name="patron_number" value = "0"><br><br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </div>
  </section>
  <% include ./partials/footer %>