/********
GENERAL
********/

body {
/*	background-image: url("../brick.jpg");
	background-size: 175%;*/
/*	background-image: url("../images/grey.jpg");
	background-size: 330%;
	background-repeat: no-repeat;*/
	background-color: #606060;
}

.navbar {
	background-color: black;
	height: 82px;
}

.page_title {
	color: white;
	font-weight: 300;
	font-family: 'Comfortaa', cursive;
	text-decoration: underline;
}

.comment_box {
	width: 250px;
	height: 90px;
	border: 5px solid white;
	margin-top: -175px;
	font-family: 'Comfortaa', cursive;
	font-size: 18px;
	color: white;
}

.footbox {
	text-align: center;
	margin-top: 26px;
	margin-bottom: 26px;
}



/********
NAVHEADER
********/

.nav_header {
	text-align: center;
	color: white;
}

.bar {
	text-align: center;
	font-size: 42px;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

.tinder {
	text-align: center;
	font-size: 42px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	color: #999;
}

.navbox {
	padding-top: 8px;
	padding-right: 8px;
	font-size: 8px;
}

.navlink {
	color: white;
	font-family: 'Comfortaa', cursive;
	float: right;
	margin-right: 5%;
}


/********
NEW(ADMIN)
********/

.new_admin {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px;
}

input {
	border: 2px solid black;
	border-radius: 5px;
}

.submit-btn {
	border-radius: 5px;
	background-color: white;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 700;
	font-size: 18px;
	width: 80px;
	height: 30px;
}



/********
HOME(VIEW)
********/

.venue_name {
	margin-top: 110px;
	text-align: center;
	font-size: 28px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	color: white;
}

/* Some styles had to be put inline in the home.ejs because the image url's would not pull into through this css file*/
.view_counter {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	margin-top: 25px;
	margin-bottom: 175px;
	border: 5px solid white;
}

.newbar-btn {
	border-radius: 5px;
	background-color: white;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 700;
	font-size: 18px;
	width: 100px;
	height: 30px;
}


/********
NAVFOOTER
********/







